{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'apps/style/styles.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'apps/media/insta-fav.ico' %}">
    <title>Instagram</title>
</head>
<body>
<main>
    <div class="page">
        <div class="header">
            <h1 class="logo">Instagram</h1>
            <p>Sign up to see photos and videos from your friends.</p>
            <button><i class="fab fa-facebook-square"></i> Log in with Facebook</button>
            <div>
                <hr>
                <p>OR</p>
                <hr>
            </div>
        </div>
        <div class="container">
            <form action="{% url 'insta_reg' %}" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Mobile Number or Email" name="email">
                <input type="text" placeholder="Full Name" name="first_name">
                <input type="text" placeholder="Last Name" name="last_name">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <button type="submit"><a href="{% url 'insta_page' %}"></a>Sign up</button>
            </form>

            <ul>
                <li>By signing up, you agree to our</li>
                <li><a href="">Terms</a></li>
                <li><a href="">Data Policy</a></li>
                <li>and</li>
                <li><a href="">Cookies Policy</a> .</li>
            </ul>
        </div>
    </div>
    <div class="option">
        <p>Have an account? <a href="{% url 'insta_page' %}">Log in</a></p>
    </div>
    <div class="otherapps">
        <p>Get the app.</p>
        <button type="button"><i class="fab fa-apple"></i> App Store</button>
        <button type="button"><i class="fab fa-google-play"></i> Google Play</button>
    </div>
    <div class="footer">
        <ul>
            <li><a href="">ABOUT</a></li>
            <li><a href="">HELP</a></li>
            <li><a href="">PRESS</a></li>
            <li><a href="">API</a></li>
            <li><a href="">JOBS</a></li>
            <li><a href="">PRIVACY</a></li>
            <li><a href="">TEMS</a></li>
            <li><a href="">LOCATIONS</a></li>
            <li><a href="">TOP ACCOUNTS</a></li>
            <li><a href="">HASHTAGS</a></li>
            <li><a href="">LANGUAGE</a></li>
        </ul>
        <p>© 2020 PICTUREGRAM</p>
    </div>
</main>
